.square{
  height: 200px;
  width: 200px;
  text-align: center;
  font-size: 150px;
  border: 2px solid black;
}

.gameBoard{
  display: flex;
  width: 620px;
  flex-wrap: wrap;
  margin: 0 auto;
}

h1{
  text-align: center;
  font-size:x-large;
  color:white;
}

h2{
  text-align: center;
  color: white;
}

.reset-button{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 200px;
  margin-bottom: 20px ;
}

button{
  width: 100%;
  font-style: italic;
  font-size:x-large;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(136,123,32,1) 0%, rgba(252,176,69,1) 1%);
}